<div class="splash-page-contents">
<div class="splash-items-row">
    <section>
        <figure>
            <img src="{{student.img}}" />
            <figcaption>
                <h2>{{student.title}}</h2>
                <p>{{student.txt}}</p>
            </figcaption>
        </figure>
    </section>
    <section>
        <figure>
            <img src="images/{{developer.img}}" />
            <figcaption>
                <h2>{{developer.title}}</h2>
                <p>{{developer.txt}}</p>
            </figcaption>
        </figure>
    </section>
    <section>
        <figure>
            <img src="{{project.img}}" />
            <figcaption>
                <h2>Projects</h2>
                <ul>
                    {{#each project.items}}
                    <li>
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
            </figcaption>
        </figure>
    </section>
</div>


<section>
    <figure>
        <img src="images/{{photo.src}}" />
        <figcaption>{{photo.txt}}</figcaption>
    </figure>
</section>
