<div class="splash-page-contents">
    <div class="splash-items-row">
        <section>
            <figure>
                <img src="images/{{student.img}}" />
                <figcaption>
                    <h2>{{student.title}}</h2>
                    <p>{{student.txt}}</p>
                </figcaption>
            </figure>
        </section>
        <section>
            <figure>
                <img src="images/{{developer.img}}" />
                <figcaption>
                    <h2>{{developer.title}}</h2>
                    <p>{{developer.txt}}</p>
                </figcaption>
            </figure>
        </section>
        <section>
            <figure>
                <figcaption>
                    <h2>Projects</h2>
                    <ul>
                        {{#each project.items}}
                        <li>
                            <a href="{{this.link}}">{{this.name}}</a></li>
                        </li>
                        {{/each}}
                    </ul>
                    <a href="https://github.com/csc530" target="_blank">My github</a>
                </figcaption>
                <img src="images/{{project.img}}" />
            </figure>
        </section>
    </div>


    <section>
        <figure>
            <img src="images/{{photo.src}}" />
            <figcaption>{{photo.txt}}</figcaption>
        </figure>
    </section>
</div>