<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a class="button is-primary" href="/application/add">Create a new application</a>

{{#if applications}}

	<table class="table">
		<thead>
			<tr>
				<th>Job title</th>
				<th>Date posted</th>
				<th>Date applied</th>
				<th>Action taken</th>
			</tr>
		</thead>
		<tbody>
			{{#each applications as app}}
				<tr>{{app.jobTitle}}</tr>
				<tr>{{app.postedDate}}</tr>
				<tr>{{app.applicationDate}}</tr>
				<tr>{{app.action}}</tr>
			{{/each}}
		</tbody>
	</table>

{{/if}}